/* app css stylesheet */

#story {
    display: none;
}

#story2 {
    width: 100%;
    height: 800px;
}

#temptable td{
    vertical-align: top;
}

#passage_table {
    height: 700px;
    overflow: scroll;
}
