<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

<table id="temptable">
    <tr>
        <td>
            Hello Karl!
            <div ng-controller="Spooler">
                <button ng-click="findLinks()">Find links</button>

                <ul>
                    <li ng-repeat='(name,value) in passages'>{{name}}</li>
                </ul>
            </div>

        </td>
        <td>
            <iframe id="story" src="test.html">

            </iframe>
        </td>
    </tr>
</table>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
